In [30]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

### Loading the data

In [31]:
df = pd.read_csv("data.csv")
df.head()

,Unnamed: 0,location,country,gender,age,vis_wuhan,from_wuhan,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6,diff_sym_hos,result
0,0,104,8,1,66.0,1,0,14,31,19,12,3,1,8,1
1,1,101,8,0,56.0,0,1,14,31,19,12,3,1,0,0
2,2,137,8,1,46.0,0,1,14,31,19,12,3,1,13,0
3,3,116,8,0,60.0,1,0,14,31,19,12,3,1,0,0
4,4,116,8,1,58.0,0,0,14,31,19,12,3,1,0,0

### Data exploration

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863 entries, 0 to 862
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    863 non-null    int64
 1   location      863 non-null    int64
 2   country       863 non-null    int64
 3   gender        863 non-null    int64
 4   age           863 non-null    float64
 5   vis_wuhan     863 non-null    int64
 6   from_wuhan    863 non-null    int64
 7   symptom1      863 non-null    int64
 8   symptom2      863 non-null    int64
 9   symptom3      863 non-null    int64
 10  symptom4      863 non-null    int64
 11  symptom5      863 non-null    int64
 12  symptom6      863 non-null    int64
 13  diff_sym_hos  863 non-null    int64
 14  result        863 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 101.3 KB

In [33]:
df['country'].unique()

array([ 8, 11, 18, 21, 23, 24, 28, 29, 32, 33,  2,  7,  6, 12, 30, 13, 17,
       31, 14, 22, 10, 25, 26,  5, 15, 16, 20, 19,  4,  3,  0,  1,  9, 27],
      dtype=int64)

In [34]:
df['age'].unique()

array([66. , 56. , 46. , 60. , 58. , 44. , 34. , 37. , 39. , 18. , 32. ,
       51. , 57. , 50. , 52. , 33. , 40. , 70. , 49.4, 28. , 19. , 29. ,
       55. , 68. , 38. , 72. , 45. , 42. , 69. , 63. , 62. , 49. , 48. ,
       36. , 59. , 23. , 43. , 22. , 47. , 53. , 30. ,  2. , 20. , 24. ,
       41. ,  9. , 27. , 15. , 79. , 21. , 64. , 71. , 31. , 35. ,  4. ,
       78. , 65. , 25. , 75. , 85. ,  5. , 54. , 26. , 82. , 61. , 11. ,
       77. , 76. , 67. , 74. , 73. ,  6. ,  8. , 80. , 91. , 86. , 83. ,
       96. , 16. , 89. , 81. ])

In [37]:
df.drop('Unnamed: 0',axis=1,inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 863 entries, 0 to 862
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   location      863 non-null    int64
 1   country       863 non-null    int64
 2   gender        863 non-null    int64
 3   age           863 non-null    float64
 4   vis_wuhan     863 non-null    int64
 5   from_wuhan    863 non-null    int64
 6   symptom1      863 non-null    int64
 7   symptom2      863 non-null    int64
 8   symptom3      863 non-null    int64
 9   symptom4      863 non-null    int64
 10  symptom5      863 non-null    int64
 11  symptom6      863 non-null    int64
 12  diff_sym_hos  863 non-null    int64
 13  result        863 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 94.5 KB